<footer>
  <div class="footer">
    <div class="footer1">
      <img src="{{url_for('static', filename='img/logo_white.png')}}">
      <a href="/terms">Terms</a>
      <a href="/privacy">Privacy Policy</a>
    </div>
    <div class="footer2">

    </div>
    <div class="footer3">
      <h1 class="capsFooter"><img src={{url_for('static', filename='img/leaf-icon-23.png')}}>CONTACT</h1>
      Tel: <a href="tel:0208 089 5632">0208 089 5632</a><br>
      Email: <a href="mailto:support@recipefind.co.uk">support@recipefind.co.uk</a><br>
      Service Provided by Granzo Holdings Ltd
    </div>
     <div class="footer4">
       <h3>Copyright @2019 Recipefind</h3>
     </div>
  </div>
</footer>