<!DOCTYPE html>
<html lang="en">

{% include('includes/head.html')%}

<body>

{% include('includes/header.html')%}

{% include('includes/navbar.html')%}


<div class="heading">
  <div class="innerHeading">
    <a style="color: white" href="/">Home</a>
    <h1>Browse Recipes</h1>
  </div>
</div>




<div class="container">
    <div class="container0 browse-holder">
        <div class="dropButton">Browse</div>
        <div class="searchLine">
            <input type="text" placeholder="Find a recipe...">
            <button type="submit">
               <img src="{{url_for('static', filename='img/magnifier.png')}}" alt="magnifier">
            </button>
        </div>
        <div id="browseMenu" class="hide">

            <div class="browseMenu">
                <h5>CATEGORIES</h5>
                <div>Burgers</div>
                <div>Cakes</div>
                <div>Chicken</div>
                <div>Cookies</div>
                <div>Hash</div>
                <div>Pasta</div>
                <div>Salads</div>
                <div>Sauces</div>
            </div>

            <div class="browseMenu">
                <h5>CUISINES</h5>
                <div>American</div>
                <div>Asian</div>
                <div>Italian</div>
            </div>


            <div class="browseMenu">
                <h5>COOKING METHODS</h5>
                <div>Baking</div>
                <div>Frying</div>
                <div>Grilling</div>
                <div>Sauteing</div>
                <div>Simmering</div>
                <div>Tosing</div>
            </div>
        </div>
    </div>






    <div class="container1 card">
        <div class="fav-holder">
              <img src="{{url_for('static', filename='img/heart.png')}}" alt="fav-empty">
            <img class="hide" src="{{url_for('static', filename='img/heart2.png')}}" alt="fav-full">
        </div>
              <img src="https://dummyimage.com/271x180/000/fff">
              <p class="title-bold">Shrimp Veggie Salad</p>
              <p class="subscribe" name="signup">Subscribe</p>
              <p class="description">Ready in: 20min <br>Servings: 6</p>

    </div>

     <div class="container2 card">
        <div class="fav-holder">
              <img src="{{url_for('static', filename='img/heart.png')}}" alt="fav-empty">
            <img class="hide" src="{{url_for('static', filename='img/heart2.png')}}" alt="fav-full">
        </div>
              <img src="https://dummyimage.com/271x180/000/fff">
              <p class="title-bold">Blueberry, Ginger, and Kefir Smoothie</p>
              <p class="subscribe" name="signup">Subscribe</p>
              <p class="description">Ready in: 5min <br>Servings: 1</p>

    </div>

     <div class="container3 card">
        <div class="fav-holder">
              <img src="{{url_for('static', filename='img/heart.png')}}" alt="fav-empty">
            <img class="hide" src="{{url_for('static', filename='img/heart2.png')}}" alt="fav-full">
        </div>
              <img src="https://dummyimage.com/271x180/000/fff">
              <p class="title-bold">Pancakes With Blueberries </p>
              <p class="subscribe" name="signup">Subscribe</p>
              <p class="description">Ready in: 15min <br>Servings: 6</p>

    </div>

     <div class="container4 card">
        <div class="fav-holder">
              <img src="{{url_for('static', filename='img/heart.png')}}" alt="fav-empty">
            <img class="hide" src="{{url_for('static', filename='img/heart2.png')}}" alt="fav-full">
        </div>
              <img src="https://dummyimage.com/271x180/000/fff">
              <p class="title-bold">Chocolate Fridge Cake</p>
              <p class="subscribe" name="signup">Subscribe</p>
              <p class="description">Ready in: 15min <br>Servings: 16</p>

    </div>

     <div class="container5 card">
        <div class="fav-holder">
              <img src="{{url_for('static', filename='img/heart.png')}}" alt="fav-empty">
            <img class="hide" src="{{url_for('static', filename='img/heart2.png')}}" alt="fav-full">
        </div>
              <img src="https://dummyimage.com/271x180/000/fff">
              <p class="title-bold">Fresh Hummus And Pita Bread</p>
              <p class="subscribe" name="signup">Subscribe</p>
              <p class="description">Ready in: 20min <br>Servings: 4</p>

    </div>

    <div class="container6 card">
        <div class="fav-holder">
              <img src="{{url_for('static', filename='img/heart.png')}}" alt="fav-empty">
            <img class="hide" src="{{url_for('static', filename='img/heart2.png')}}" alt="fav-full">
        </div>
              <img src="https://dummyimage.com/271x180/000/fff">
              <p class="title-bold"> Avocado & Basil Breakfast bruschetta</p>
              <p class="subscribe" name="signup">Subscribe</p>
              <p class="description">Ready in: 8min <br>Servings: 4</p>

    </div>

</div>


<footer>
  <div class="footer">
    <div class="footer1">
      <img src="{{url_for('static', filename='img/logo_white.png')}}">
      <a href="/terms">Terms</a>
      <a href="/privacy">Privacy Policy</a>
    </div>
    <div class="footer2">
      <h3>Recent Recipes</h3>
      <div class="recentR"><img src="https://dummyimage.com/50x50/#FFFFF/fff.png"><span><a href="/signup"> 12-Minute Chicken and Broccoli</a></span></div>
      <div class="recentR"><img src="https://dummyimage.com/50x50/#FFFFF/fff.png"><span><a href="/signup"> Bacon, Egg, and Cheese Breakfast Burger</a></span></div>
      <div class="recentR"><img src="https://dummyimage.com/50x50/#FFFFF/fff.png"><span><a href="/signup"> Chocolate Chip Cookies</a></span></div>
    </div>
    <div class="footer3">
      <h1 class="capsFooter"><img src={{url_for('static', filename='img/leaf-icon-23.png')}}>CONTACT</h1>
      Tel: <a href="tel:0208 089 5632">0208 089 5632</a><br>
      Email: <a href="mailto:support@recipefind.co.uk">support@recipefind.co.uk</a><br>
      Service Provided by Granzo Holdings Ltd
    </div>
     <div class="footer4">
       <h3>Copyright @2019 Recipefind</h3>
     </div>
  </div>
</footer>

<script src="{{url_for('static', filename='js/start.js')}}"></script>

</body>
</html>