<!DOCTYPE html>
<html lang="en">

{% include('includes/head.html')%}

<body>

{% include('includes/header.html')%}

{% include('includes/navbar.html')%}



<div class="heading">
  <div class="innerHeading">
    <a style="color: white" href="/">Home</a>
    <h1>User Profile</h1>
  </div>
</div>


  <div class="signIn">
    <h3>Sign In</h3>
    <p>MOBILE NUMBER</p>
    <input style="width: 200px;" type="text">
    <button class="signInButton">Sign in</button>
    <a href="/signup">Need to register?</a>
  </div>


{% include('includes/footer.html')%}

</body>
</html>
