<!DOCTYPE html>
<html lang="en">

{% include('includes/head.html')%}

<body>

{% include('includes/header.html')%}

{% include('includes/navbar.html')%}



<div class="heading">
  <div class="innerHeading">
    <a style="color: white" href="/">Home</a>
    <h1>Terms & Conditions</h1>
  </div>
</div>

<section class="containerTerms">
    <h3>These terms and conditions apply to your (“you”, “Your”) use of the Recipefind service and the Recipefind website and create a binding agreement between You and Recipefind respectively.</h3>

    <h3>Contents</h3>
    <p>
        <ol>
            <li><a href="#1">Access</a></li>
            <li><a href="#2">Account</a></li>
            <li><a href="#3">General Terms</a></li>
            <li><a href="#4">Payment Methods</a></li>
            <li><a href="#5">Unsubscribe / Cancel</a></li>
            <li><a href="#6">Products and Services</a></li>
            <li><a href="#7">Disclaimers</a></li>
            <li><a href="#8">Site – Conditions of Use</a></li>
            <li><a href="#9">Termination</a></li>
            <li><a href="#10">Limitation of Liability</a></li>
            <li><a href="#11">Email and Mobile Marketing</a></li>
            <li><a href="#12">Governing Law</a></li>
            <li><a href="#13">Contact</a></li>
            <li><a href="#14">Changes to these Conditions</a></li>
            <li><a href="#15">Complaints Procedure</a></li>
        </ol>
    </p>
    <p>
        <ol>
            <li id="1">
                Access
                <ul>
                    <li>By placing an order with Recipefind, you warrant that you are over the age of 16, and either are the bill payer, or have the bill payer’s permission.</li>
                    <li>By accessing and/or using this site, you have read and understand these conditions, and accept that you are legally bound by these Conditions. These Conditions will apply to all services provided by Recipefind unless stated otherwise. None of these Conditions affect any rights or obligations imposed under UK Law.</li>
                </ul>
            </li>
            <li id="2">
                Account
                <ul>
                    <li>Prior to using the service, you must create an account for Recipefind.</li>
                    <li>Any information you provide in this process will be held and used in accordance with our Privacy Policy</li>
                    <li>Accounts can only be made for and used by a named individual, accounts cannot be transferred to or sold to another person. You can update, amend or cancel your account at any time through this site.</li>
                    <li>All information provided to us when registering your account must be true and correct, and you cannot have more than one active account at any one time.</li>
                    <li>Customers should not distribute any of their account information, including passwords.</li>
                    <li>We must be notified of any changes to your personal information.</li>
                    <li>If you suspect that your account has been accessed by another party without your authorisation, you should notify us of this breach immediately by contacting <a href="mailto:support@Recipefind.co.uk">support@Recipefind.co.uk</a></li>
                </ul>
            </li>
            <li id="3">
                General Terms
                <ul>
                    <li>By giving your mobile number to us through the internet or any other promotions, you will gain access to the Recipefind website, where you can register an account to use the service.</li>
                    <li>You may be billed via SMS (dependant on your network operator), wherein you receive a text message sent to your mobile phone which is charged upon delivery. The billing via SMS section of these terms will explain this.</li>
                </ul>
            </li>
            <li id="4">
                Payment Methods
                <ul>
                    <li>Billing via SMS
                        <ul>
                            <li>If you have subscribed via the internet; after submitting your mobile number to us via one of our online promotions, you can validate your subscription by one of the following routes: you will either receive a text message asking you to validate your subscription by responding via text message with a keyword; or a PIN will be sent to you via text in order to confirm that your mobile number is correct. You must then type the PIN into the indicated panel on the online promotion to validate your subscription. It is very important that you respond as indicated, as it is at this point that you will gain access to the Recipefind site and be able to register your account.</li>
                            <li>Once you have responded to the text message and validated your subscription your access to the service commences. You can stop the subscription at any time by sending ‘STOP’ to the number you are receiving messages from. You will only have access to the Recipefind site for 7 days from the last date that you were charged, therefore your access to the Recipefind site at the point you unsubscribe will depend on where in this 7-day period you have cancelled your subscription.</li>
                            <li>The first week’s billed message will be sent to your mobile phone shortly after you confirm your subscription, or after the 24-hour free trial period has passed if applicable. You will also receive a free cost message after confirming your subscription into the service, and every 28 days throughout the subscription period.</li>
                        </ul>
                    </li>
                    <li>Continuation of General Terms
                        <ul>
                            <li>Where credit is not available to successfully bill the premium rate charge, for example Pay As You Go mobile users, the weekly charge may not be billed at the promoted time; however further attempts may be made to deliver the message until the payment due is successfully made.</li>
                            <li>Recipefind reserves the right to modify or discontinue, temporarily or permanently, the services and subscription provided to you. Subscription fees will apply regardless of whether or not you use your subscription or access the service, as Recipefind will continue to provide you with the access to the site and service throughout this period.</li>
                            <li>Recipefind reserves the right to modify or change any products or services as required in order to improve range and availability. We recommend that you regularly check the site for updates to the services on offer. Subscriptions will apply (unless and until you text ‘Stop Recipefind’ to 84363 or RECIPEFINDSTOP to 84988) regardless.</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="5">
                Unsubscribe / Cancel
                <ul>
                    <li>To unsubscribe when billed to mobile phone account</li>
                    <li>UNSUBSCRIBE please follow the instructions mentioned in the messages you have received on your mobile phone when you initiated the subscription. To unsubscribe just reply the correct command to the 5-digit shortcode number mentioned in the messages you have received on your mobile phone. For subscriptions via text message, this is the 5-digit shortcode number you are receiving messages from. For subscriptions via Payforit, you will receive a free text message at the beginning of your subscription which will confirm the 5-digit shortcode you must send stop to in order to unsubscribe. Standard rate charges may apply to messages sent.</li>
                    <li>The stop text message is not case sensitive; however, any other variation of this text may not be accepted (E.G. Please stop). Please only consider the subscription successfully stopped once you have received a FREE reply text message from the same shortcode, to the effect of “All services on this shortcode are now stopped. Customer Services 0203 322 3992”. If you have not received a text message to this effect, then please contact us to confirm your subscription has been cancelled.</li>
                    <li>14 Day Cancellation Policy</li>
                    <li>If you unsubscribe from the service within 14 days of your original subscription date, then you have an opportunity to claim a refund for the subscription charges of the first two weeks that took place within the 14-day period, should you wish to do so. In doing this, you will also immediately cancel all access to the Recipefind site and any account information you have registered. If you wish to do this within 14 days of your subscription date, then please contact Customer Services on 0208 089 5632 or email <a href="mailto:support@recipefind.co.uk">support@recipefind.co.uk</a>.</li>
                </ul>
            </li>
            <li id="6">
                Products and Services
                <ul>
                    <li>The majority of our products and services are provided via this website and physical copies are not provided. All of these products, (including, but not limited to; recipes, PDF downloads, videos or online content) are subject to copyright protection and should not be copied or distributed.</li>
                    <li>These products and services are the property of Recipefind. By setting up an account with Recipefind, you have been granted license to use the products and services, subject to these Conditions.</li>
                    <li>These products and services have not been sold to any user who has a Recipefind account. The customer has no right to copy, distribute, share, edit, sell or modify the product in any form. Recipefind may encrypt any of this information to protect our products and services.</li>
                </ul>
            </li>
            <li id="7">
                Disclaimers
                <ul>
                    <li>None of our employees hold medical or dietary qualifications and we are not a licensed medical care provider. We do not have any expertise in examining or treating medical conditions of any kind and cannot diagnose any issues you may experience.</li>
                    <li>We always strongly recommend that you consult with your doctor before making any significant lifestyle changes such as dietary changes or adopting new exercise programs, particularly if you have any family history of high blood pressure, heart disease, high cholesterol, obesity, bone or joint problems, or chest pain. We would also make the same recommendation if you are a smoker, or pregnant.</li>
                    <li>The recipes provided on the Recipefind site are not specially formulated to suit any specific nutrient deficiencies, allergies, any one pregnant or breastfeeding, or any other food related health problems.</li>
                    <li>Please speak with a medical professional prior to purchase if you are unsure whether this product/service is suitable for you to use.</li>
                    <li>If you have any concerns or questions regarding your health, you should always contact your doctor. If you experience faintness, dizziness, pain or shortness of breath at any time, you must stop the physical activity immediately and contact your doctor before continuing.</li>
                    <li>The content of our site is not intended to replace any professional medical advice or treatment.</li>
                    <li>This site may contain links which are hosted by third parties not associated with Recipefind. The content displayed on those sites is not the responsibility of Recipefind and we do not endorse these websites or services. You agree that your choice to visit any third-party websites is undertaken at your own risk.</li>
                </ul>
            </li>
            <li id="8">
                Site – Conditions of Use
                <ul>
                    <li>You must not:
                        <ul>
                            <li>Copy, distribute, adapt, share, edit or modify this site or transfer any part of the site</li>
                            <li>Do anything which may place an unreasonable or disproportionate load on the site, you must not do anything which disrupts the functions of the site</li>
                            <li>Make any modifications to the site, test, scan or circumvent the security of the site</li>
                            <li>Use the site or content in any way which breaches the rights of Recipefind or any third party</li>
                            <li>Use the account of another customer, or impersonate another customer when using the site</li>
                            <li>Knowingly transmit any virus, worm, defect, Trojan horse or any other malicious code to the site for any reason; and</li>
                            <li>Use any method to autonomously create accounts by any means under fraudulent pretences</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="9">
                Termination
                <ul>
                    <li>Recipefind reserves the right to terminate your account, remove or edit content at our sole discretion at any time without prior notice. We will not be held liable from any loss or damage from exercising this right.</li>
                    <li>If you wish to terminate your account, please contact us via 0208 089 5632or email <a href="mailto:support@recipefind.co.uk">support@recipefind.co.uk</a>. Any order which is not cancelled is subject to these Conditions.</li>
                </ul>
            </li>
            <li id="10">
                Limitation of Liability
                <ul>
                    <li>You enter the Recipefind site and participate in the service at your own risk. The Recipefind site is provided without any warranty whatsoever, whether express or implied.</li>
                    <li>Without prejudice to the generality of the preceding provision, Recipefind, its respective directors, employees, partners, service providers:</li>
                    <li>do not warrant that the software or the Recipefind site is/are fit for their purpose;</li>
                    <li>do not warrant that the software and Recipefind site are free from errors;</li>
                    <li>do not warrant that the Recipefind site or service will be accessible without interruptions;</li>
                    <li>shall not be liable for any loss, costs, expenses or damages, whether direct, indirect, special, consequential, incidental or otherwise, arising in relation to Your use of the Recipefind sites or Your participation in the service.</li>
                    <li>You hereby agree to fully indemnify and hold harmless Recipefind, their directors, employees, partners, and service providers for any cost, expense, loss, damages, claims and liabilities howsoever caused that may arise in relation to your use of the Recipefind site or participation in the service.</li>
                    <li>This Clause shall not be considered to be excluding liability for anything which it could be unlawful to exclude under applicable law. Nothing in the T&Cs will operate as to exclude any liability of Recipefind in respect of either fraud, or death or personal injury caused by negligence of Recipefind</li>
                </ul>
            </li>
            <li id="11">
                Email and Mobile Marketing
                <ul>
                    <li>By giving us your mobile number and email address, you agree for Recipefind and its’ managing company to send you either an occasional email or text, notifying you of the latest offers and promotions available from our group. These may not always be products and/or services related to Health and Fitness, and come from a range of services. If you ever wish to be removed from any of our email/text broadcasts, you will have a link provided on each email saying ‘Unsubscribe’, or you can go to the Contact Us page on our website and complete the web form, putting ‘Unsubscribe from marketing’ in the subject box.</li>
                    <li>Alternatively, you can call our helpline 0203 322 3992. Once you do this, you will be removed from future broadcasts within 28 days of your request. You can remove yourself from additional marketing, without cancelling your subscription to the Recipefind service, if you wish.</li>
                </ul>
            </li>
            <li id="12">
                Governing Law
                <ul>
                    <li>These conditions are governed by the laws of the England and Wales and You and Recipefind agree to submit to the exclusive jurisdiction of the Courts of England and Wales.</li>
                </ul>
            </li>
            <li id="13">Contact <br> The promoter and service provider is Recipefind.co.uk, a brand name of Granzo Holdings Ltd,
                <br>Mavromichali 3,
                <br>Flat 11,
                <br>1005, Nicosia, Cyprus
                <br><br>
                Tel: 0203 322 3992
                <br>Email: <a href="mailto:support@recipefind.co.uk">support@recipefind.co.uk</a>
            </li>
            <li id="14">
                Changes to these Conditions
                <ul>
                    <li>Recipefind reserves the right to modify these Conditions at any time. Please review these Conditions frequently. Changes will take effect immediately after being posted on this site.</li>
                </ul>
            </li>
            <li id="15">Complaints Procedure
                <p>We always do our best to meet the needs of those who contact us, but we appreciate that sometimes you can find yourself in a situation where you are not happy with the service that has been provided. If you would like to make a complaint regarding the contact you have had with, or the service you have received from us, then this policy sets out the process for you to use.</p>
                <p>Any and all complaints will be dealt with appropriately, and will be investigated by a member of staff within the company with sufficient seniority to resolve the issues. While dealing with your complaint we promise to be respectful of you at all times, in turn we expect the same behaviour towards our staff. All customer service calls are recorded and our staff reserve the right to terminate any call in which they feel abused or threatened.</p>
                <p>The majority of all complaints can be handled and resolved at the first point of contact, however this is not always possible. We aim to complete all investigations and resolve all complaints within 10 working days of the complaint being made.</p>
                <p>How to make a complaint</p>
                <p>All complaints can be made by telephone or by email using the below information:</p>
                <p>Telephone: 0203 322 3992</p>
                <p>Email: <a href="mailto:support@recipefind.co.uk">support@recipefind.co.uk</a></p>
                <p>For your complaint to be properly registered please provide us with the following information:</p>
                <p>Your full name, preferred contact method, number and email address</p>
                <p>Your postal address, so that communication in writing can be made where necessary</p>
                <p>Full details of the complaint including any dealings you may have had with us, or any of the services we provide. We would suggest you advise of what happened, when it happened, who you dealt with if anyone, what you would like further clarification on, why you think what has happened is wrong and what you would like us to do to put things right.</p>
                <p>All of the above information will be kept confidential and private, to be used for the sole purpose of investigating and responding to the complaint made. This information will not be provided to any third parties unless absolutely necessary in order to fully investigate the complaint, by lodging a complaint, you are agreeing that this can occur.</p>
                <p>People who can complain</p>
                <p>A complaint can be made by either someone who has received services from or relating to Granzo Holdings Ltd, or a representative of the above described service user. Where a representative wishes to make a complaint on behalf of someone else, they may be required to provide proof that they have the permission of the service user to make the complaint or query on their behalf.</p>
                <p>After a complaint has been made</p>
                <p>Where a complaint is made in person or over the telephone:</p>
                <p>A written record of the complaint will be made and kept, which can be provided upon request.</p>
                <p>A recording of the phone call will be made where possible</p>
                <p>All complaints will receive a response within 5 working days, however if further investigation is necessary before an explanation/resolution can be provided, then we aim to resolve your complaint within 10 working days. In responding to your complaint, we will follow the procedures set out in this policy unless other guidelines are agreed with the complainant, and will ensure that:</p>
                <p>You understand how to progress your complaint and are kept informed of this.</p>
                <p>You are made aware of the outcome of your complaint promptly</p>
                <p>Your complaint and the information you provide to us is treated in confidence</p>
                <p>We will tell you what steps we intend to take to remedy any complaint that is upheld.</p>
                <p>Complaints should be made as soon as possible after the incident giving rise to the complaint. We do expect all complaints to be current; however we will accept a historic complaint if we are satisfied that:</p>
                <p>The complainant can give a valid reason for not making the complaint sooner, and</p>
                <p>Despite the delay, it is still possible to investigate the complaint effectively and fairly</p>
                <p>It is important for the complainant to be aware that if their complaint involves disputing the use of, or registration to one of our services, they may be required to provide evidence which confirms their claim (E.G. a copy of the mobile phone bill). As with all other personal information, in any instance where the complainant is required to provide additional information or documentation, this will only be used for the sole purpose of investigating and responding to the complaint made, and will be kept confidential and private.</p>
                <p>All complainants have the right to refer their complaint on to the appropriate governing body if they are unhappy with the outcome of our investigation, however this referral must be made by the complainant and will not be made by Granzo Holdings Ltd on the complainant’s behalf.</p>
                <p>All complainants will be given the opportunity to receive an acknowledgement letter or email upon request. This will discuss not only the complaint itself, but the manner in which the complaint has so far been handled and the period in which the investigation of the complaint is likely to be completed.</p>
                <p>Once a complaint has been dealt with</p>
                <p>Once investigations have been completed, upon request, a report can be provided which includes:</p>
                <p>A detailed explanation of how the complaint has been considered</p>
                <p>The conclusions reached, including any and all remedial action needed, and</p>
                <p>Confirmation that any action needed has either already been taken or, if not yet taken, the proposed timescale when such action will be completed</p>
                <p>A letter/email will be sent to the complainant where necessary, confirming all of the above information and reminding them of their right to take the matter further if they are unhappy with the outcome.</p>
                <p>In circumstances where the response/final outcome of the investigation is not ready within 10 working days we will notify the complainant accordingly and explain the reason why.</p>
            </li>
        </ol>
    </p>
    <p>Further advice</p>
    <p>If for any reason you are not happy with our response, you can refer your complaint, to CommsADR, who are authorised by the Government under the Alternative Dispute Resolution service for the purposes of consumer disputes (competent authorities and information) regulations 2015, to provide an independent review of complaints and dispute resolution services.  You can visit their website via the following link: <a href="https://www.co.ukmmsadr.co.uk.uk/createclaim/">https://www.co.ukmmsadr.co.uk.uk/createclaim/</a></p>
    <p>Recipefind is willing to submit itself to its ADR procedure and be bound by its decisions.</p>
    <p>As a consumer, you are afforded free redress and we would urge you use the approved ADR provider to review your complaint and provide their impartial and independent conclusion.</p>


</section>

{% include('includes/footer.html')%}

</body>
</html>
