<!DOCTYPE html>
<html lang="en">

{% include('includes/head.html')%}

<body>

{% include('includes/header.html')%}

{% include('includes/navbar.html')%}



<div class="heading">
  <div class="innerHeading">
    <a style="color: white" href="/">Home</a>
    <h1>User Profile</h1>
  </div>
</div>


  <div class="signUp">
    <h3>Register (Step 1/2)</h3>
    <p>Subscription service costing £3 per text alert. You may receive up to 2 texts alerts per month</p>
    <p>MOBILE NUMBER</p>
    <input style="width: 200px;" type="text"><button class="signUpButton"> Subscribe</button>
    <p>By clicking Subscribe you agree that you will be charged £3 per text alert, you may receive up to 2 text alerts per month, charged directly to your phone bill, until you cancel service either by texting 'STOP' to [code], calling 0208 089 5632, or emailing support@recipefind.co.uk. Service provided by Granzo Holdings Ltd</p>

  </div>



{% include('includes/footer.html')%}


</body>
</html>
